# TOKEN DU BOT DISCORD
DISCORD_TOKEN=TON_TOKEN_ICI

# SALON TEXTE POUR LES PINGS
ID_SALON_TEXTE=000000000000000000

# VOCAL PAUSE (1 seul)
ID_VOCAL_PAUSE=000000000000000000

# LISTE DES VOCAUX EXEMPTÉS EMS (séparés par virgule et sans espace)
ID_VOCAL_EXEMPTE_EMS=000000000000000000

# UTILISATEUR EXEMPTÉ EMS (optionnel)
ID_UTILISATEUR_EXEMPTE=000000000000000000
